<% content_for :title, 'Create a new account' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6" }) do |f| %>
  <div class="field">
    <%= render 'partials/form-fields/input', f: f, label: :email, field: :email_field %>
  </div>

  <div class="field">
    <%= render 'partials/form-fields/input', f: f, label: :password, field: :password_field %>
  </div>

  <div class="field">
    <%= render 'partials/form-fields/input', f: f, label: :password_confirmation, field: :password_field %>
  </div>

  <div class="actions">
    <%= f.submit "Register", class: 'flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-primary border border-transparent rounded-md hover:bg-primary-hover focus:outline-none focus:border-primary-focus focus:ring-primary active:bg-primary-focus transition duration-150 ease-in-out' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
